{% extends 'base.html.twig' %}

{% block title %}UserPlatform index{% endblock %}

{% block body %}
    <h1>UserPlatform index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Api_key</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_platform in user_platforms %}
            <tr>
                <td>{{ user_platform.id }}</td>
                <td>{{ user_platform.apiKey }}</td>
                <td>
                    <a href="{{ path('app_user_platform_show', {'id': user_platform.id}) }}">show</a>
                    <a href="{{ path('app_user_platform_edit', {'id': user_platform.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_platform_new') }}">Create new</a>
{% endblock %}
