{% extends 'base.html.twig' %}

{% block title %}Platform index{% endblock %}

{% block body %}
    <h1>Platform index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>EndPoint</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for platform in platforms %}
            <tr>
                <td>{{ platform.id }}</td>
                <td>{{ platform.name }}</td>
                <td>{{ platform.endPoint }}</td>
                <td>
                    <a href="{{ path('app_platform_show', {'id': platform.id}) }}">show</a>
                    <a href="{{ path('app_platform_edit', {'id': platform.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_platform_new') }}">Create new</a>
{% endblock %}
