{% extends 'base.html.twig' %}

{% block title %}New Transaction{% endblock %}

{% set page_css = ['formulaire'] %}

{% block body %}
{#    <a href="{{ path('app_transaction_index') }}">back to list</a>#}
    <a href="{{ path('app_transaction_index') }}" class="btn btn-outline btn-sm">
        Back
    </a>
    <h1>Create New Transaction</h1>

    {{ form_start(form) }}
    {{ form_row(form.quantity) }}
    {{ form_row(form.price) }}
    {{ form_row(form.asset) }}
    {{ form_rest(form) }}
    <button class="btn btn-primary btn-sm">
    Save
    </button>
    {{ form_end(form) }}


{% endblock %}