{% extends 'base.html.twig' %}

{% block title %}Transaction Details{% endblock %}

{% block body %}
    <h1>Transaction Details</h1>

    <table>
        <tr>
            <th>ID</th>
            <td>{{ transaction.id }}</td>
        </tr>
        <tr>
            <th>User</th>
            <td>{{ transaction.user.email }}</td>
        </tr>
        <tr>
            <th>Asset</th>
            <td>{{ transaction.asset.name }}</td>
        </tr>
        <tr>
            <th>Quantity</th>
            <td>{{ transaction.quantity }}</td>
        </tr>
        <tr>
            <th>Purchase Price</th>
            <td>{{ (transaction.price / 100) | number_format(2, '.', ',') }} €</td>
        </tr>
    </table>

    <a href="{{ path('app_transaction_index') }}">back to list</a>
    <a href="{{ path('app_transaction_edit', {id: transaction.id}) }}">edit</a>
    {{ include('transaction/_delete_form.html.twig') }}
{% endblock %}